<div class="hero-unit">
  <h1>Random Tweets <small>at</small> Regular Intervals</h1>
  <p id="description">Enter a list of tweets in advance.  Once an hour, we'll pick one at random and post it to your Twitter account.  Great for sharing motivational pokes, inspirational quotes, or hilarious jokes.  As used by <a href="http://twitter.com/oblique">@oblique</a>.</p>
  <p>
    <%= link_to "/auth/twitter", class: 'btn btn-primary btn-large' do %>
      Sign in with Twitter to Get Started
    <% end %>
  </p>
</div>
